.filter {
    background: #f5f5f550;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    padding: .65rem;
}

.top {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #EEE;
    padding-bottom: .65rem;
}

.top > span {
    font-size: 1.35rem;
    display: block;
}

.button {
    background: transparent;
    display: flex;
    align-items: center;
    padding: .5rem;
    width: fit-content;
    border-radius: 3.25rem;
    cursor: pointer;
    transition: .15s ease-in-out;
    user-select: none;
    height: fit-content;
}

.button:hover {
    background: #f5f5f525;
}

.button > img {
    width: 1.25rem;
}

.label {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}

.label > p {
    word-break: break-all;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.labelHeading {
    font-size: 1.25rem;
    font-weight: 500;
    width: 4.25rem;
    display: block;
}

.inputFields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 5fr));
    gap: 15px;
}

.inputField {
    background: #fffffff5;
    outline: none;
    border: none;
    padding: .5rem;
    width: 100%;
    font-size: 1.25rem;
}

.buttons {
    display: flex;
    gap: .5rem;
}

.smallButton {
    cursor: pointer;
    background: #40404040;
    width: fit-content;
    padding: .55rem .95rem;
    user-select: none;
}

.smallButton:hover {
    background: #40404060;
}